body{
  margin:0;
}

#background{
  display:block;
  position:fixed;
  width:100%;
  height:100%;
  background-color: #343a40;
}

#logocontainer{
  display:block;
  position:fixed;
  top:50%;
  left:50%;
  width:34vh;
  height:34vh;
  margin-left:-17vh;
  margin-top:-17vh;
  overflow:hidden;
  transition:background-color 500ms;
}

#pelogo{
  display: block;
  position: absolute;
  left: 2vh;
  top: 2vh;
  width: 30vh;
  height: 30vh;
  background: #34324b;
  background: -moz-linear-gradient(-45deg, #34324b 0%, #161222 100%);
  background: -webkit-linear-gradient(-45deg, #34324b 0%,#161222 100%);
  background: linear-gradient(135deg, #34324b 0%,#161222 100%);
  background-size: contain;
  font-family: Trebuchet MS, sans-serif;
  font-size: 20vh;
  font-weight: bold;
  color: #3ebffa;
  text-align: center;
  line-height: 30vh;
}

.loader{
  display:block;
  position:absolute;
  background-color:#3ebffa;
}

/*Pretty complex animation, so each side needs its own @keyframes.*/

@keyframes slide1{
  50%{width:32vh; margin-left:0;}
  100%{margin-left:32vh;}
}

@keyframes slide2{
  50%{height:32vh; margin-top:0;}
  100%{margin-top:32vh;}
}

@keyframes slide3{
  50%{width:32vh; margin-right:0;}
  100%{margin-right:32vh;}
}

@keyframes slide4{
  50%{height:32vh; margin-bottom:0}
  100%{margin-bottom:32vh;}
}


.bodyPart{
  overflow: hidden;
  visibility: hidden;
}


body{
  color: white;
  background-color: #343a40;
  position: relative;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

.profContent{
  padding-top: 3vh;
  flex-grow: 2.5;
}

.pB1{
  margin-left: 7vh;
  flex-grow: 1;
}

@media screen and (max-width: 900px) {
  .pB1{
    margin-left: 0;
  }
}

.pointBreak{
  display: flex;
}

.intro{
  padding-top: 177px;
  padding-bottom: 77px;
  justify-content: center;
}
hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.intro hr{
  width: 40%;
}
#intro hr{
  width: 77%;
}
#edu .row{
  margin: 0;
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 40px;
  width: 100%;
}

#skills hr{
  width: 25%;
}

#contact hr{
  width: 25%;
}

.table-responsive-md{
  width: 100%;
}

.icons{
  margin: 0;
  padding-top: 40px;
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
}

.projects{
  margin: 0;
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  width: 100%;
}

.contactDiv{
  padding-top: 50px;
  margin: 0;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
}
